<% content_for :js do %>
  <script>
    $(document).ready(function() {
      $('.select-all').click(function () {
        var set = $(this).parent();
        var group = set.find('input:checkbox');
        var checked = set.find('input:checkbox:checked');

        if (checked.length == group.length) {
          $(this).removeClass('selected');
          group.prop('checked', $(this).hasClass('selected'));
        } else {
          $(this).addClass('selected');
          group.prop('checked', $(this).hasClass('selected'));
        };
      });

      $('.allergen-check').on('change', function () {
        var allergenId = this.value
        console.log(allergenId);
        $(`.allergen-check-group :input[type=checkbox][value=${allergenId}]`).not(this).prop("checked", false);
      })
    });
  </script>
<% end %>

<h3 class=" pb-2 mb-0"><%= action_name == "edit" ? "Edit " : "New " %>Menu Item</h3>

<%= menu.name %>

<%= form_with(model: [:manager, @restaurant, menu], local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :restaurant_id, value: @restaurant.id %>
    <%= form.hidden_field :node_type, value: menu.node_type %>
    <%= hidden_field_tag :parent, params[:parent] %>


<ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true"><%= t('menu.details')%></a>
  </li>
 
  <% if feature_match(:images, menu.restaurant_features)%>
  <li class="nav-item">
    <a class="nav-link" id="image-tab" data-toggle="tab" href="#image" role="tab" aria-controls="image" aria-selected="false"><%= t('menu.image')%></a>
  </li>
  <% end %>
  <li class="nav-item">
    <a class="nav-link" id="options-tab" data-toggle="tab" href="#options" role="tab" aria-controls="options" aria-selected="false"><%= t('menu.options_sets')%></a>
  </li>
<!--   <li class="nav-item">
    <a class="nav-link" id="extras-tab" data-toggle="tab" href="#extras" role="tab" aria-controls="extras" aria-selected="false"><%= t('menu.extras')%></a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link" id="allergens-tab" data-toggle="tab" href="#allergens" role="tab" aria-controls="allergens" aria-selected="false"><%= t('menu.allergens')%></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="categories-tab" data-toggle="tab" href="#categories" role="tab" aria-controls="categories" aria-selected="false"><%= t('menu.categories')%></a>
  </li>
  <% if feature_match(:nutrition, menu.restaurant_features)%>
  <li class="nav-item">
    <a class="nav-link" id="nutrition-tab" data-toggle="tab" href="#nutrition" role="tab" aria-controls="nutrition" aria-selected="false"><%= t('menu.nutrition')%></a>
  </li>
  <% end %>
  <% if feature_match(:provenance, menu.restaurant_features)%>
  <li class="nav-item">
    <a class="nav-link" id="provenance-tab" data-toggle="tab" href="#provenance" role="tab" aria-controls="provenance" aria-selected="false"><%= t('menu.provenance')%></a>
  </li>
  <% end %>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade pt-3  pb-3 show active" id="details" role="tabpanel" aria-labelledby="details-tab">
    <!-- details -->
    <div class="row">
      <div class="col">
        <div class="form-group ">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control  form-control-sm' %>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col">
      <div class="form-group ">
        <%= form.label :description %>
        <%= form.text_area :description, class: 'form-control  form-control-sm' %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="form-group ">
        <%= form.label "Price (VAT inclusive)" %>
        <%= form.number_field :price_a, class: 'form-control  form-control-sm', step: :any %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group ">
        <%= form.label :available %>
        <%= form.check_box :available, class: 'form-control  form-control-sm' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group ">
        <%= form.label "VAT tax rate %" %>
        <%= form.text_field :tax_rate, class: 'form-control  form-control-sm' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group ">
        <% screen_type_options = [['None', nil]] %>
        <% screen_type_options += ItemScreenType.where.not(key: 'FULL').map{|a| [a.name, a.id]} %>
        <%= form.label :item_screen_type_id %>
        <%= form.select :item_screen_type_id, options_for_select(screen_type_options, menu.item_screen_type_id), {prompt: 'Select screen type'}, {class: 'form-control  form-control-sm'} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group ">
        <%= form.label :secondary_item_screen_type_id %>
        <%= form.select :secondary_item_screen_type_id, options_for_select(screen_type_options, menu.secondary_item_screen_type_id), {prompt: 'Select screen type'}, {class: 'form-control  form-control-sm'} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group ">
        <%= form.label :position %>
        <%= form.number_field :position, class: 'form-control  form-control-sm' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group ">
        <%= form.label :css_class %>
        <%= form.text_field :css_class, class: 'form-control  form-control-sm' %>
      </div>
    </div>
  </div>



  </div>
  <div class="tab-pane fade pt-3  pb-3" id="image" role="tabpanel" aria-labelledby="image-tab">
    <!-- image -->

    <div class="row">
      <div class="col">
        <div class="form-group ">
          <%= form.label :image %>
          <%= form.file_field :image %>
        </div>
      </div>
      <div class="col">
        <div class="form-group ">
           <% if menu.image.attached? %>
              <%= image_tag menu.image.variant(resize: "200x200"), class: "img-fluid"  %>
            <% end %>
        </div>
      </div>
    </div>
    
  </div>

  <div class="tab-pane fade pt-3  pb-3" id="options" role="tabpanel" aria-labelledby="options-tab">
    <!-- options -->
    <div class="row">
      <div class="col mb-2">
        <h4>These are the available options for a customer to choose whilst ordering their meal.</h4>
        <%= link_to 'Edit all Option Sets', manager_restaurant_custom_lists_path(@restaurant), class: "h5" %>
      </div>
    </div>
    <div class="row">

<!--       <div class="col">
        <h6>Cook Levels</h6>
        <%#= form.collection_check_boxes :cook_level_ids, @cook_levels, :id, :name do |b| %>
          <div class="collection-check-box">
            <%#= b.check_box %>
            <i class="<%#= b.text %>"> <%#= b.object.name %></i>
          </div>
        <%# end %>
      </div> -->
      <% @restaurant.custom_lists.each do |custom_list| %>
      <div id="collection-check-set-<%= custom_list.id %>" class="collection-check-set col-12 col-lg-6 mb-4">
        <h6><strong><%= custom_list.name %></strong> (<%=constraint_to_human custom_list.constraint%>)</h6>
        <%= link_to 'Edit Option Set details', edit_manager_restaurant_custom_list_path(@restaurant, custom_list) %> | 
        <%= link_to 'Edit Option Set items', manager_restaurant_custom_list_path(@restaurant, custom_list) %>
        
        <% custom_list.custom_list_items.each do |item| %>

          <div class="collection-check-box my-2">
            <input type="checkbox" value="<%=item.id%>" name="menu[custom_lists][<%=custom_list.id%>][]" id="menu_custom_lists_<%=custom_list.id%>-<%=item.id%>" <%=checked?(menu.custom_lists, custom_list.id, item.id)%>>
            <i class=""><%= item.name%> <small>(<%= number_to_currency item.price, unit: @restaurant.currency_symbol%>)</small></i>
            <i><%= link_to '[edit]', edit_manager_restaurant_custom_list_custom_list_item_path(@restaurant, custom_list, item), class: "text-muted" %></i>
          </div>

        <% end %>

        <button type="button" id="select-all-<%= custom_list.id %>" class="select-all btn btn-primary btn-sm">Toggle all in set</button>
      </div>
      <% end %>
    </div>

  </div>
  <div class="tab-pane fade pt-3  pb-3" id="extras" role="tabpanel" aria-labelledby="extras-tab">
  <!-- extras -->
  </div>
  <div class="tab-pane fade pt-3  pb-3" id="nutrition" role="tabpanel" aria-labelledby="nutrition-tab">
  <!-- nutrition -->

    <div class="row">
      <div class="col">

      <div class="row">
        <div class="col">
          <div class="form-group ">
            <%= form.label :calories %>
            <%= form.number_field :calories, class: 'form-control  form-control-sm' %>
          </div>
        </div>
      </div>

        <div class="row">
          <div class="col">
            <div class="form-group ">
              <%= form.label :nutrition %>
              <%= form.trix_editor :nutrition, required: true, autofocus: true %>
            </div>
          </div>
        </div>

      </div>
    </div>





  </div>
 
  <div class="tab-pane fade pt-3  pb-3" id="allergens" role="tabpanel" aria-labelledby="allergens-tab">
  <!-- allergens -->
    <div class="row allergen-check-group">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h5 class="text-center pb-2">
              Contains:
            </h5>
          </div>
        </div>
        <div class="row">
          <ul class="eicon-list ng-scope collection-check-box mx-auto text-center">
            <% @allergens.each do |a| %>
              <%= label_tag do %>
                <%= check_box_tag "contains_allergen_id[#{a.id}]", a.id, menu.menu_item_categorisations_menus.contains_allergen.where(menu_item_categorisation_id: a.id).any?, name: "contains_allergen_ids[]", class: "allergen-check" %>
                <li class="allergen-level-yes"><span class="<%= a.icon %>"></span><%= a.name.humanize %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h5 class="text-center pb-2">
              May contain:
            </h5>
          </div>
        </div>
        <div class="row">
          <ul class="eicon-list ng-scope collection-check-box mx-auto text-center">
            <% @allergens.each do |a| %>
              <%= label_tag do %>
                <%= check_box_tag "may_contain_allergen_id[#{a.id}]", a.id, menu.menu_item_categorisations_menus.may_contain_allergen.where(menu_item_categorisation_id: a.id).any?, name: "may_contain_allergen_ids[]", class: "allergen-check" %>
                <li class="allergen-level-may"><span class="<%= a.icon %>"></span> <%= a.name.humanize %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h5 class="text-center pb-2">
              Suitable for:
            </h5>
          </div>
        </div>
        <div class="row">
          <ul class="eicon-list ng-scope collection-check-box mx-auto text-center">
            <% @diets.each do |d| %>
              <%= label_tag do %>
                <%= check_box_tag "dietary_id[#{d.id}]", d.id, menu.menu_item_categorisations_menus.dietary.where(menu_item_categorisation_id: d.id).any?, name: "dietary_ids[]" %>
                <li class="suitable-level-yes"><span class="<%= d.icon %>"></span><%= d.name.humanize %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
 
  <div class="tab-pane fade pt-3  pb-3" id="categories" role="tabpanel" aria-labelledby="categories-tab">
  <!-- categories -->

    <div class="row">

      <div class="col">
        <div class="row ml-1">
          <div lass="col ">
            <h6>Categories</h6>
            <% @categories.each do |c| %>
              <div class="collection-check-box">
                <%= label_tag do %>
                  <%= check_box_tag "menu_item_categorisation_id[#{c.id}]", c.id, menu.menu_item_categorisations_menus.category.where(menu_item_categorisation_id: c.id).any?, name: "menu_item_categorisation_ids[]" %>
                  <i class="<%= c.icon %>"> <%= c.name.humanize %></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="row">
          <div class="col">
            <h6>Spice Level</h6>
            <% @spice_levels.each do |spice| %>
            <div class="form-check">
              <%= form.radio_button :spice_level_id, spice.id%>
              <%= form.label spice.name %>
            </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
 

  <div class="tab-pane fade pt-3  pb-3" id="provenance" role="tabpanel" aria-labelledby="provenance-tab">
  <!-- provenance -->
    <div class="row">
      <div class="col">
        <div class="form-group ">
          <%= form.label :provenance %>
          <%= form.trix_editor :provenance, required: true, autofocus: true %>
        </div>
      </div>
    </div>

  </div>
</div>

  <div class="actions">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
