<% if params[:admin] == "true" %>

<div class="row">
  <div class="col-sm">
    <h5>Services - Admin</h5>
    <ul class="switches d-inline-block">
    
    <% @features.each do |feature|%>

      <li class="my-3">
        <%= check_box_tag dom_id(feature), feature.id, @restaurant.features.include?(feature), data: {
                          remote: true,
                          url: manager_restaurant_toggle_feature_path(@restaurant.id, feature.id),
                          method: :post
                          } %>
        <label for="feature_<%= feature.id %>">
          <span><%=feature.name%></span>
          <span></span>
        </label>
      </li>

    <% end %>

    </ul>

  </div>
</div>

<% else %>

<div class="row">
  <div class="col-sm">
    <h5>Services</h5>
    <ul class="switches d-inline-block">
    
    <% @services.each do |feature|%>

      <li class="my-3">
        <%= check_box_tag dom_id(feature), feature.id, @restaurant.features.include?(feature), data: {
                          remote: true,
                          url: manager_restaurant_toggle_feature_path(@restaurant.id, feature.id),
                          method: :post
                          } %>
        <label for="feature_<%= feature.id %>">
          <span><%=feature.name%></span>
          <span></span>
        </label>
      </li>

    <% end %>

    </ul>

  </div>
</div>

<% checkout_toggle = @features.where(key: 'checkout').first %>
<% group_order_toggle = @features.where(key: 'group_orders').first %>

<div class="row">
  <div class="col-sm">
    <hr>
    <ul class="switches d-inline-block">
      <li class="my-3">
        <%= check_box_tag dom_id(checkout_toggle), checkout_toggle.id, @restaurant.features.include?(checkout_toggle), data: {
                          remote: true,
                          url: manager_restaurant_toggle_feature_path(@restaurant.id, checkout_toggle.id),
                          method: :post
                          }, disabled: !@restaurant.subscription_enabled %>
        <label for="feature_<%= checkout_toggle.id %>">
          <span><%= checkout_toggle.name %> <small class="text-muted">(Accept orders & payments)</small></span>
          <span></span>
        </label>
      </li>
      <li class="my-3">
        <%= check_box_tag dom_id(group_order_toggle), group_order_toggle.id, @restaurant.features.include?(group_order_toggle), data: {
                          remote: true,
                          url: manager_restaurant_toggle_feature_path(@restaurant.id, group_order_toggle.id),
                          method: :post
                          }, disabled: !@restaurant.subscription_enabled %>
        <label for="feature_<%= group_order_toggle.id %>">
          <span><%= group_order_toggle.name %> <small class="text-muted">(Allow group ordering)</small></span>
          <span></span>
        </label>
      </li>
    </ul>

  </div>
</div>

<% end %>