<% content_for :js do %>

  <script>
  
    $(function(){
      $('.busy-time-toggle').on('change', function() {
        busy_time_id = $(this).val();
        busy_time_checked = $(this).is(':checked');
        busy_time_available = $(`#available_${busy_time_id}`);

        if (busy_time_checked) {
            busy_time_available.text('Available');
          } else {
            busy_time_available.text('Unavailable');
        }
      })
    })
  
  </script>

<% end %>

<h1>Busy Times</h1>

<p>Allocated busy times will be unavailable for customers to place orders for</p>

<% if manager_busy_times.any? %>

  <% bts = manager_busy_times.group_by{|x| x.busy_time.strftime("%A, #{x.busy_time.day.ordinalize} %B")}.map{|k,v| {k => v}} %>
  <% bts.each do |bt| %>
    <div class="row pt-2">
      <div class="col-lg-3">
        <% date = bt.keys[0] %>
        <h5><%= date %></h5>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
        <table class="text-center" style="width:100%">
          <tr>
            <th>Time</th>
            <th>Order Count</th>
            <th>Override</th>
            <th>Actions</th>
          </tr>
          <% times = bt[date] %>
          <% times.each do |t| %>
            <tr>
              <td>
                <% dt = t.busy_time.in_time_zone(@restaurant.time_zone) %>
                <small><i class="far fa-clock"></i></small><%= dt.strftime(" %H:%M") %>
              </td>
              <td>
                <%= pluralize(@restaurant.receipts.where("due_date >= ? AND due_date < ?", dt, dt+15.minutes).count, 'order') %>
              </td>
              <td class="switches" style="width:120px;"> 

                <%= check_box_tag dom_id(t, :unavailable), t.id, !t.unavailable, data: {
                                  remote: true,
                                  url: manager_restaurant_busy_time_toggle_busy_time_path(@restaurant, t),
                                  method: :post
                                  }, class: "busy-time-toggle" %>
                <label for="<%= dom_id(t, :unavailable) %>">
                  <span id="available_<%= t.id %>" class="management-description pr-2">
                    <%= !t.unavailable ? "Available" : "Unavailable" %>
                  </span>
                  <span></span>
                </label>
                
              </td>
              <td>
                <%= link_to "Delete", manager_restaurant_busy_time_path(t.restaurant, t), method: :delete, data: { confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>

        </table>
      </div>
    </div>
  <% end %>

<% else %>

  <div class="row">
    <div class="col-sm-2 pb-5">
      <strong>No busy times allocated.</strong>
    </div>
  </div>

<% end %>