<% if item[:node_type] == 'section' %>

  <div class="col-12 text-left order-item rounded <%= item[:css_class].presence %>">
    <div class="row cursor-pointer">
      <div class="col text-danger">
        <strong class='section-name'><%=item[:name]%></strong>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <% if item[:children].present? %>
          <% nodes = [] %>
          <% item[:children].each do |child| %>
            <% if params[:dietary_ids].present? %>
              <% veggie_id = MenuItemCategorisation.where("lower(name) = ?", 'vegetarian').first.id.to_s %>
              <% also_veggie = child[:categories].where(name: 'vegan').any? && params[:dietary_ids].include?(veggie_id) %>
              <% next unless (params[:dietary_ids] + (also_veggie ? [veggie_id] : []) - (child[:categorisations].dietary.map{|mic| mic.menu_item_categorisation_id.to_s} + (also_veggie ? [veggie_id] : []))).empty? %>
            <% end %>
            <% if params[:may_contain_allergen_ids].present? %>
              <% next unless (child[:categorisations].allergies.map{|mic| mic.menu_item_categorisation_id.to_s} & params[:may_contain_allergen_ids]).empty? %>
            <% end %>
            <% if params[:contains_allergen_ids].present? %>
              <% next unless (child[:categorisations].contains_allergen.map{|mic| mic.menu_item_categorisation_id.to_s} & params[:contains_allergen_ids]).empty? %>
            <% end %>
            <% nodes << child %>
          <% end %>
          <% if nodes.blank? %>
            <%= render 'restaurants/components/no_item' %>
          <% else %>
            <% nodes.each do |child| %>
              <%= render 'restaurants/components/item', item: child, no_background: true %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

<% else %>
  
  <div class="row item-default cursor-pointer <%= item[:css_class].presence %>" data-toggle="modal" data-target="#item-<%=item[:id]%>">
    <% image = get_menu_image(item[:id]) if feature_match(:images, @restaurant.features) %>
    <% if image.present? %>
      <div class="col-3 pr-0">
        <%= image_tag image.variant(resize: "200x200"), class: 'img-fluid' %>
      </div>
    <% end %>
		<div class="<%= image.present? ? "col-9" : "col-12" %>">
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col-auto pr-0 item-title">
              <strong class='item-name '>
                <%=item[:name]%> 
              </strong>
            </div>
						<div class="col-auto pr-0">
              <% if item[:categorisations].allergies.any? %>
                <ul class="row eicon-list m-0 pb-1 eicon-x-small ng-scope align-items-center">
                  <% item[:categorisations].contains_allergen.each do |allergen| %>
                    <li class="allergen-level-yes my-0 align-baseline pb-1"><span class="<%= allergen.menu_item_categorisation.icon %>"></span></li>
                  <% end %>
                  <% item[:categorisations].may_contain_allergen.each do |allergen| %>
                    <li class="allergen-level-may my-0 align-baseline pb-1"><span class="<%= allergen.menu_item_categorisation.icon %>"></span></li>
                  <% end %>
                  <% item[:categorisations].dietary.each do |diet| %>
                    <li class="suitable-level-yes my-0 align-baseline pb-1"><span class="<%= diet.menu_item_categorisation.icon %>"></span></li>
                  <% end %>
                </ul>
              <% end %>
						</div>
					</div>
				</div>
				<div class="col-auto pl-0 text-right">
          <strong class='item-name'>
            <%=number_to_currency(item[:price_a], unit: @restaurant.currency_symbol)%>
          </strong>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
          <% if item[:description].present? %>
            <div class="row">
              <div class='col'><small><i><%=item[:description]%></i></small></div>
            </div>
          <% end %>
				</div>
			</div>
		</div>
	</div>

  <%= render 'restaurants/components/modal', item: item if is_takeaway_or_delivery?(@restaurant)%>

<% end %>