<% main_item = item[:id]%>
<% start_price = item[:price_a].to_f %>

<div class="modal fade" id="item-<%=item[:id]%>" tabindex="-1" role="dialog" aria-labelledby="<%=item[:name]%>" aria-hidden="true">
  <div class="modal-dialog override" role="document">
    
    <% if Rails.env == 'development'%>
      <h1>DEVELOPMENT</h1>
    <% end %>

    <div class='row'>
      <div class='col-sm-12 col-md-8 col-lg-5 col-xl-4'>

        <div class="modal-content bg-light">

          <% image = get_menu_image(item[:id]) if feature_match(:images, @restaurant.features) %>
          <% image_style = "min-height: 250px; background-image: url('#{url_for(image.variant(resize: '650x650'))}'); background-repeat: no-repeat; background-position: center; background-size: cover;" if image.present? %>

          <div class="modal-header" style="<%= image_style if image.present? %>">
            
            <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            
          </div>

          <div class="modal-body text-dark">
            <div class="row">
              <div class='col'>
                <h5 class="modal-title" id="<%=item[:name]%>"><%=item[:name]%></h5>
                <div >
                  <small><%=item[:description]%></small>
                </div>

                <% if feature_match(:provenance, @restaurant.features) %>
                  <% if item[:provenance].present? %>
                    <div>
                      <small><strong>Provenance: </strong><%= item[:provenance].html_safe %></small>
                    </div>
                  <% end %>
                <% end %>

                <% if feature_match(:nutrition, @restaurant.features) %>
                  <div><small>
                    <% if item[:nutrition].present? %>
                      <strong>Nutrition: </strong><%= item[:nutrition].html_safe %>
                    <% end %>
                    <% if item[:calories].present? %>
                      <strong>Calories: </strong><%= item[:calories] %>
                    <% end %>
                  </small></div>
                <% end %>
            
              </div>
            </div>  

            <div class="row pt-2">
              <% if item[:categorisations].allergies.any? %>
                <i class="text-left col-12 pb-2 ng-scope">
                  <% if item[:categorisations].contains_allergen.any? %>
                    <span class="badge badge-pill badge-danger">Contains</span>
                  <% end %>
                  <% if item[:categorisations].may_contain_allergen.any? %>
                    <span class="badge badge-pill badge-warning">May contain</span>
                  <% end %>
                  <% if item[:categorisations].dietary.any? %>
                    <span class="badge badge-pill badge-success">Suitable for</span>
                  <% end %>
                </i>
                <ul class="eicon-list col mb-0 pb-1 eicon-small ng-scope">
                  <% item[:categorisations].contains_allergen.each do |allergen| %>
                    <li class="allergen-level-yes mb-0 pb-1"><span class="<%= allergen.menu_item_categorisation.icon %>"></span><%= allergen.menu_item_categorisation.name.humanize %></li>
                  <% end %>
                  <% item[:categorisations].may_contain_allergen.each do |allergen| %>
                    <li class="allergen-level-may mb-0 pb-1"><span class="<%= allergen.menu_item_categorisation.icon %>"></span><%= allergen.menu_item_categorisation.name.humanize %></li>
                  <% end %>
                  <% item[:categorisations].dietary.each do |diet| %>
                    <li class="suitable-level-yes mb-0 pb-1"><span class="<%= diet.menu_item_categorisation.icon %>"></span><%= diet.menu_item_categorisation.name.humanize %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>

            <div class="row border-top mt-2 pt-1">
            
            <% if params[:dietary_ids].present? or params[:contains_allergen_ids].present? or params[:may_contain_allergen_ids].present? %>
                <div class='col bg-dark mb-2 p-0'>
                  <div class="pn-ProductNav_Wrapper">
                    <nav id="pnFilterNav" class="pn-ProductNav dragscroll" data-overflowing="both">
                      <ul id="pnFilterNavContents" class="row pn-ProductNav_Contents pn-ProductNav_Contents-no-transition eicon-list eicon-x-small ng-scope m-0 align-items-center h-100" style="transform: none;">
                        <span class="pn-ProductNav_Link" aria-selected="true" class="py-0">Menu Filters:</span>

                        <% if params[:dietary_ids].present? or params[:contains_allergen_ids].present? or params[:may_contain_allergen_ids].present? %>
                          <%= link_to restaurant_filter_path(@restaurant.path, menu_id: params[:menu_id], section_id: params[:section_id]), class: 'pn-ProductNav_Link p-1',  "aria-selected" => "true" do %>
                            <% @diets.each do |diet| %>
                              <% if params[:dietary_ids]&.include?(diet.id.to_s) %>
                                <li class="suitable-level-yes my-0 p-0"><span class="<%= diet.icon %>"></span></li>
                              <% end %>
                            <% end %>
                            <% @allergens.each do |allergen| %>
                              <% if params[:contains_allergen_ids]&.include?(allergen.id.to_s) %>
                                <li class="allergen-level-yes my-0 p-0"><span class="<%= allergen.icon %>"></li>
                              <% end %>
                            <% end %>
                            <% @allergens.each do |allergen| %>
                              <% if params[:may_contain_allergen_ids]&.include?(allergen.id.to_s) %>
                                <li class="allergen-level-may my-0 p-0"><span class="<%= allergen.icon %>"></li>
                              <% end %>
                            <% end %>
                          <% end %>
                          <%= link_to "Clear filters", restaurant_path(@restaurant.path, menu_id: params[:menu_id].presence, section_id: params[:section_id].presence, filter: 'clear'), class: 'pn-ProductNav_Link' %>
                        <% else %>
                          <%= link_to 'Diet & Allergens', restaurant_filter_path(@restaurant.path, menu_id: params[:menu_id].presence, section_id: params[:section_id].presence), class: 'pn-ProductNav_Link' %>
                        <% end %>

                      </ul>
                    </nav>
                  </div>
                </div>
            <% end %>

              <% custom_lists = [] #item[:custom_lists] %>

              <% item[:custom_lists].each do |l| %>
                <% custom_lists << custom_list_object(l[0])%>
              <% end %>
              <%
                sort_order = @restaurant.custom_list_ids
                lookup = {}

                sort_order.each_with_index do |item, index|
                  lookup[item] = index
                end

                cl = custom_lists.sort_by do |item|
                  lookup.fetch(item.id)
                end
              %>

              <% 
                lookup2 = {}
                custom_list_sort_order = cl.map{|a| a.id}

                custom_list_sort_order.each_with_index do |item, index|
                  lookup2[item] = index
                end
              %>
              
              <%
                il = item[:custom_lists].sort_by do |item|
                  lookup2.fetch(item[0].to_i)
                end
              %>
    
              <% required_lists = [] %>

              <% il.each_with_index do |list, index| %>
                <% custom_list = custom_list_object(list[0])%>
                <div class='col-12 custom-list-set<%= custom_list.required_items ? " required-set" : " optional-set" %><%= " limit-min" if custom_list.limit_min %><%= " limit-count" if custom_list.limit_count %><%= " limit-max" if custom_list.limit_max %>'<%= "data-scope=#{main_item} " %><%= "data-list=#{custom_list.id} " %><%= "data-min=#{custom_list.limit_min} " if custom_list.limit_min %><%= "data-count=#{custom_list.limit_count} " if custom_list.limit_count %><%= "data-max=#{custom_list.limit_max}" if custom_list.limit_max %>> 
                  <div class="row ml-1 ">
                    <div class='col rounded modal-please-choose'>
                      <% message = cl_message_to_human(custom_list) %>
                      <strong><%= custom_list.name %>  (<%=message%>)</strong>
                    </div>
                  </div>
  
                  <% clis = [] %>
                  <% list[1].each_with_index do |item_id, index| %>
                    <% cli = custom_list_item(item_id)%>

                    <% required_lists << custom_list.id if custom_list.required_items? %>
                    <% if params[:dietary_ids].present? %>
                      <% veggie_id = MenuItemCategorisation.where("lower(name) = ?", 'vegetarian').first.id.to_s %>
                      <% also_veggie = cli.menu_item_categorisations.where(name: 'vegan').any? && params[:dietary_ids].include?(veggie_id) %>
                      <% next unless (params[:dietary_ids] + (also_veggie ? [veggie_id] : []) - (cli.categorisations_clis.dietary.map{|mic| mic.menu_item_categorisation_id.to_s} + (also_veggie ? [veggie_id] : []))).empty? or !cli.category_filtered %>
                    <% end %>
                    <% if params[:may_contain_allergen_ids].present? %>
                      <% next unless (cli.categorisations_clis.allergies.map{|mic| mic.menu_item_categorisation_id.to_s} & params[:may_contain_allergen_ids]).empty? or !cli.category_filtered %>
                    <% end %>
                    <% if params[:contains_allergen_ids].present? %>
                      <% next unless (cli.categorisations_clis.contains_allergen.map{|mic| mic.menu_item_categorisation_id.to_s} & params[:contains_allergen_ids]).empty? or !cli.category_filtered %>
                    <% end %>
                    <% clis << cli %>
                  <% end %>
                  <% if clis.blank? %>
                    <%= render 'restaurants/components/no_option' %>
                  <% else %>
                    <% clis.each do |cli| %>
                      <div class="row m-2 p-1 border<%= " alert alert-danger" if !cli.available %>">
                        <div class='col px-1'>
                          <label class="m-0">
                            <%= check_box_tag "item-#{cli.id}", "item-#{cli.id}-#{main_item}", nil, id:"custom-item-#{cli.id}", class: "selection-item selection-item-#{main_item}", 'data-price' => ("%.2f" % cli.price).to_f, 'data-start_price' => start_price, 'data-scope' => main_item,'data-constraint' => custom_list.constraint, 'data-id' => cli.id, disabled: !cli.available %>
                            <small>
                              <strong><%=cli.name%><%= " (Unavailable)" if !cli.available %></strong>
                              <% if cli.description.present?%>
                                <i>- <%=cli.description%></i>
                              <% end %>
                              <% if cli.categorisations_clis.allergies.any? %>
                                <ul class="d-inline eicon-list col mb-0 p-1 eicon-x-small ng-scope">
                                  <% cli.categorisations_clis.contains_allergen.each do |allergen| %>
                                    <li class="allergen-level-yes mb-0 p-1"><span class="<%= allergen.menu_item_categorisation.icon %>"></span></li>
                                  <% end %>
                                  <% cli.categorisations_clis.may_contain_allergen.each do |allergen| %>
                                    <li class="allergen-level-may mb-0 p-1"><span class="<%= allergen.menu_item_categorisation.icon %>"></span></li>
                                  <% end %>
                                  <% cli.categorisations_clis.dietary.each do |diet| %>
                                    <li class="suitable-level-yes mb-0 p-1"><span class="<%= diet.menu_item_categorisation.icon %>"></span></li>
                                  <% end %>
                                </ul>
                              <% end %>
                            </small>
                          </label>
                        </div>
                        <%  if cli.price.to_f > 0.0 %>
                          <div class='col-auto px-1 text-right'>
                            <small><%=number_to_currency(cli.price, unit: "+#{@restaurant.currency_symbol}") %></small>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>

            
              <input type='hidden' value='<%=required_lists.uniq.join(',')%>' id="required-lists-<%= main_item %>">
              <%= text_field_tag "notes-#{main_item}", nil,  placeholder: "Tell the Kitchen: Allergies etc...", class: 'form-control note-field', 'data-scope' => main_item, 'data-start_price' => start_price %>
              
            </div>

            <div id='required-message-<%= main_item%>'>
              <% if required_lists.present? %>
                <strong>Please choose a <span  class=' text-danger'><%= get_list_names(required_lists.uniq)%></span> before you can add the item to the basket</strong>
              <% end %>
            </div>
          </div>

          <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="placeholder-to-basket btn btn-primary <%= !required_lists.present? ? ' d-none' : '' %>" id="placeholder-to-basket-<%= main_item %>" data-scope="<%= main_item %>">Add to Order - <span class='button-price-<%=main_item%>'><%=number_to_currency(item[:price_a], unit: @restaurant.currency_symbol)%></span></button>
            
            <%= link_to basket_path(@path, main_item: main_item, menu_id: params[:menu_id], section_id: params[:section_id], add_to_basket: true), class: "btn btn-primary#{required_lists.present? ? ' d-none' : ''}", id: "add-to-basket-#{main_item}", method: :PATCH do %>
                Add to Order - <span class='button-price-<%=main_item%>'><%=number_to_currency(item[:price_a], unit: @restaurant.currency_symbol)%></span>
            <% end %>
            
          </div>
        </div>

      </div>
    </div>

  </div>
</div>