<% content_for :js do %>
  <script>
    $(function (){
      $('.input-daterange').datepicker({
          format: "yyyy-mm-dd",
          todayBtn: "linked",
          autoclose: false,
          disableTouchKeyboard: true,
          todayHighlight: true
      });


      function validate() {
        var dateSelected = $('#date-select input:radio:checked').length;
        var daySelected = $('#day-select input:radio:checked').length;
        var dateRangeSelected = $('#start-date').val() != "" && $('#end-date').val() != "";

        if (daySelected) {
          $('#start-date').val("");
          $('#end-date').val("");
        };
        
        if (dateSelected && (daySelected || dateRangeSelected )) {
          $('input[type="submit"]').prop("disabled", false);
        } else {
          $('input[type="submit"]').prop("disabled", true);
        };
      };

      function clearDateRange() {
        var daySelected = $('#day-select input:radio:checked').length;
        if (daySelected) {
          $('#start-date').val("");
          $('#end-date').val("");
        };
      };

      function clearDay() {
        $('.day-select').prop('checked', false);
      };

      validate();

      $('#date-filter').on("change", validate);
      $('#day-select').on("change", clearDateRange);
      $('.input-daterange').on("click", clearDay);

      $('#date-filter-form').submit(function(e) {
        e.preventDefault();
        $('#dateModal').modal('hide');
        $('#order-progress-overlay').addClass("active");
        $('.lds-ellipsis').addClass("active");
        var url = $(this).attr("action");
        var form_data = new FormData(e.target);
        filterParams = Object.fromEntries(form_data.entries());

        $.ajax({
          url: url,
          type: "get",
          data: filterParams,
          success: function (response) {
            var orderData = $(response).find("#current-orders").html();
            var totalOrderCount = $(response).find("#total-order-count").text();
            $("#current-orders").html(orderData);
            $("#status-order-count").text(totalOrderCount);
            $("#live-order").removeClass("mab-active");
            $("#order-progress-overlay").removeClass("active");
            $(".lds-ellipsis").removeClass("active");
            $('#date-filter-button').removeClass('text-muted border-secondary');
            $('#date-filter-button span').text(filterParams.day ? filterParams.date.split('_')[0] + ' ' + filterParams.day : filterParams.date.replace("_", " "));
            validate();

            $('#check-all-orders').on('click', function() {    
              $('.check-order:checkbox').prop('checked', this.checked);    
            });

            $('.check-order').on('click', function() {
              var checkedOrderCount = $(".checked-order:checkbox:checked").length;
              if (checkedOrderCount > 0) {
                var n = new RegExp('^((\\S+ ){1})(\\S+)');
                var o = new RegExp('^((\\S+ ){2})(\\S+)');

                if (checkedOrderCount == 1 ) {
                  $("#mab-order-count").text(`${checkedOrderCount} Order`);
                  $(".mab-confirm").attr("data-confirm", (function(k,v) {return v.replace(n, `$1${checkedOrderCount}`);}));
                  $(".mab-confirm").attr("data-confirm", (function(k,v) {return v.replace(o, `$1order`);}));
                  $("#all-receipt").attr("data-confirm", `Re-send recipt for ${checkedOrderCount} order?`);
                  } else {
                  $("#mab-order-count").text(`${checkedOrderCount} Orders`);
                  $(".mab-confirm").attr("data-confirm", (function(k,v) {return v.replace(n, `$1${checkedOrderCount}`);}));
                  $(".mab-confirm").attr("data-confirm", (function(k,v) {return v.replace(o, `$1orders`);}));
                  $("#all-receipt").attr("data-confirm", `Re-send recipt for ${checkedOrderCount} orders?`);
                };

                $("#live-multi-action-bar").addClass("active");
                $("#live-order").addClass("mab-active");

              } else {
                $("#mab-order-count").text(`0 Orders`);
                $("#live-multi-action-bar").removeClass("active");
                $("#live-order").removeClass("mab-active");
              };

            });

            $('#all-cancel').on('click', function() {
              $("#mab-order-count").text(`0 Orders`);
              $("#live-multi-action-bar").removeClass("active");
              $("#live-order").removeClass("mab-active");
              $('.check-order:checkbox').prop('checked', false);   
            });

            $('.order-progress').on('ajax:send', function(ev) {
              var $btn = $(document.activeElement);

              if ($btn.hasClass('no-broadcast')) {
                $("#mab-order-count").text(`0 Orders`);
                $("#live-multi-action-bar").removeClass("active");
                $("#live-order").removeClass("mab-active");
                $('.check-order:checkbox').prop('checked', false);    
                $('#order-progress-overlay').removeClass("active");
                $('.lds-ellipsis').removeClass("active");
              } else {
                $('#order-progress-overlay').addClass("active");
                $('.lds-ellipsis').addClass("active");
              };

            });

          },

          error: function (xhr) {
            console.log(xhr);
          },

        });
        
      });

      $('#date-filter-clear').on('click', function(e) {
        e.preventDefault();
        $('#order-progress-overlay').addClass("active");
        $('.lds-ellipsis').addClass("active");
        $('#date-filter-form').trigger("reset");
        $('#dateModal').modal('hide');
        var url = $(this).attr("href");

        $.ajax({
          url: url,
          type: "get",
          success: function (response) {
            var orderData = $(response).find("#current-orders").html();
            var totalOrderCount = $(response).find("#total-order-count").text();
            $("#current-orders").html(orderData);
            $("#status-order-count").text(totalOrderCount);
            $("#live-order").removeClass("mab-active");
            $("#order-progress-overlay").removeClass("active");
            $(".lds-ellipsis").removeClass("active");
            $('#date-filter-button').addClass('text-muted border-secondary');
            $('#date-filter-button span').text("Date");

            $('#check-all-orders').on('click', function() {    
              $('.check-order:checkbox').prop('checked', this.checked);    
            });

            $('.check-order').on('click', function() {
              var checkedOrderCount = $(".checked-order:checkbox:checked").length;
              if (checkedOrderCount > 0) {
                var n = new RegExp('^((\\S+ ){1})(\\S+)');
                var o = new RegExp('^((\\S+ ){2})(\\S+)');

                if (checkedOrderCount == 1 ) {
                  $("#mab-order-count").text(`${checkedOrderCount} Order`);
                  $(".mab-confirm").attr("data-confirm", (function(k,v) {return v.replace(n, `$1${checkedOrderCount}`);}));
                  $(".mab-confirm").attr("data-confirm", (function(k,v) {return v.replace(o, `$1order`);}));
                  $("#all-receipt").attr("data-confirm", `Re-send recipt for ${checkedOrderCount} order?`);
                  } else {
                  $("#mab-order-count").text(`${checkedOrderCount} Orders`);
                  $(".mab-confirm").attr("data-confirm", (function(k,v) {return v.replace(n, `$1${checkedOrderCount}`);}));
                  $(".mab-confirm").attr("data-confirm", (function(k,v) {return v.replace(o, `$1orders`);}));
                  $("#all-receipt").attr("data-confirm", `Re-send recipt for ${checkedOrderCount} orders?`);
                };

                $("#live-multi-action-bar").addClass("active");
                $("#live-order").addClass("mab-active");

              } else {
                $("#mab-order-count").text(`0 Orders`);
                $("#live-multi-action-bar").removeClass("active");
                $("#live-order").removeClass("mab-active");
              };

            });

            $('#all-cancel').on('click', function() {
              $("#mab-order-count").text(`0 Orders`);
              $("#live-multi-action-bar").removeClass("active");
              $("#live-order").removeClass("mab-active");
              $('.check-order:checkbox').prop('checked', false);   
            });

            $('.order-progress').on('ajax:send', function(ev) {
              var $btn = $(document.activeElement);

              if ($btn.hasClass('no-broadcast')) {
                $("#mab-order-count").text(`0 Orders`);
                $("#live-multi-action-bar").removeClass("active");
                $("#live-order").removeClass("mab-active");
                $('.check-order:checkbox').prop('checked', false);    
                $('#order-progress-overlay').removeClass("active");
                $('.lds-ellipsis').removeClass("active");
              } else {
                $('#order-progress-overlay').addClass("active");
                $('.lds-ellipsis').addClass("active");
              };

            });

          },

          error: function (xhr) {
            console.log(xhr);
          },

        });

      });

    });

  </script>
<% end %>

<%
  redirect_path = params[:action]
%>
<div id="date-filter">
  <%= form_tag({}, {id: 'date-filter-form', :method => :get}) do %>
    <div class="row justify-content-center mb-3" id="date-select">
      <div class="col-auto px-1">
        <div class="ck-button">
          <%= label_tag :date_created_at do %> 
            <%= radio_button_tag(:date, "created_at", false, autocomplete: 'off', class: 'date-select') %>
            <span>Order Placed</span>
          <% end %>
        </div>
      </div>
      <div class="col-auto px-1">
        <div class="ck-button">
          <%= label_tag :date_due_date do %>
            <%= radio_button_tag(:date, "due_date", false, autocomplete: 'off', class: 'date-select') %>
            <span>Order Due</span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-3" id="day-select">
      <div class="col-auto px-1">
        <div class="ck-button">
          <%= label_tag :day_yesterday do %> 
            <%= radio_button_tag(:day, "yesterday", false, autocomplete: 'off', class: 'day-select') %>
            <span>Yesterday</span>
          <% end %>
        </div>
      </div>
      <div class="col-auto px-1">
        <div class="ck-button">
          <%= label_tag :day_today do %> 
            <%= radio_button_tag(:day, "today", false, autocomplete: 'off', class: 'day-select') %>
            <span>Today</span>
          <% end %>
        </div>
      </div>
      <div class="col-auto px-1">
        <div class="ck-button">
          <%= label_tag :day_tomorrow do %> 
            <%= radio_button_tag(:day, "tomorrow", false, autocomplete: 'off', class: 'day-select') %>
            <span>Tomorrow</span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="mb-3 input-group input-daterange">
      
      <%= text_field_tag :start, params[:start], placeholder: 'YYYY-MM-DD', hide_label: true, class: 'input-group-text form-control datepicker', id: 'start-date', autocomplete: 'off' %>

      <div class="input-group-prepend input-group-append">
        <span class="input-group-text"> to </span>
      </div>

      <%= text_field_tag :end, params[:end], placeholder: 'YYYY-MM-DD', hide_label: true, class: 'input-group-text form-control datepicker', id: 'end-date', autocomplete: 'off' %>
      
    </div>
    <div class="mb-3 form-group">
      <%= link_to "Clear", '#', class: 'btn btn-secondary order-progress', id: 'date-filter-clear' %>
      <%= submit_tag("Filter", class: 'btn btn-warning order-progress', disabled: true) %>
    </div>
  <% end %>
</div>
