<% content_for :js do %>
  <script>
    $(function() {
      $(".delay-button").on("click", function() {
        var delay = this.id.match(/\d+/);
        $("#current-delay").text("Current Delay: " + delay + " minutes");
        delay == 0 ? $("#kitchen-delay").text("Kitchen Delay") : $("#kitchen-delay").text(delay + " min. Delay");
        
      });
    });
  </script>
<% end %> 

<div id="live-header" class="row mx-0 bg-dark fixed-top">
  <div class='p-3 col-12' style='z-index:100;left:0;'>
    <%
      redirect_path = params[:action]
    %>

    <div class='row justify-content-between'>
      <div class='col-auto'>
        <%= link_to manager_live_orders_path(@restaurant), class: "d-inline-block border rounded p-2 text-uppercase text-white #{'text-muted border-secondary' if params[:action] != 'orders'}" do %>
          <i class="fa fa-1x fa-bars text-white <%='text-muted' if params[:action] != 'orders'%>"></i><span class="d-none d-md-inline"> Manager</span>
        <% end %>
        <%= link_to manager_live_orders_kitchen_path(@restaurant), class: "d-inline-block ml-1 border rounded p-2 text-uppercase text-white #{'text-muted border-secondary' if params[:action] != 'kitchen'}" do %>
          <i class="fa fa-1x fa-th text-white <%='text-muted' if params[:action] != 'kitchen'%>"></i><span class="d-none d-md-inline"> Kitchen</span>
        <% end %>
        <% if ItemScreen.where(restaurant_id: @restaurant).joins(:item_screen_type).where("item_screen_types.key = 'FOOD'").presence %>
          <%= link_to manager_live_food_path(@restaurant), class: "d-inline-block ml-1 border rounded p-2 text-uppercase text-white #{'text-muted border-secondary' if params[:action] != 'food'}" do %>
            <i class="fa fa-1x fa-utensils text-white <%='text-muted' if params[:action] != 'food'%>"></i><span class="d-none d-md-inline"> Food</span>
          <% end %>
        <% end %>
        <% if ItemScreen.where(restaurant_id: @restaurant).joins(:item_screen_type).where("item_screen_types.key = 'DRINK'").presence %>
          <%= link_to manager_live_drinks_path(@restaurant), class: "d-inline-block ml-1 border rounded p-2 text-uppercase text-white #{'text-muted border-secondary' if params[:action] != 'drinks'}" do %>
            <i class="fa fa-1x fa-coffee text-white <%='text-muted' if params[:action] != 'drinks'%>"></i><span class="d-none d-md-inline"> Drink</span>
          <% end %>
        <% end %>    
      </div>
      <div class='col-auto'>
        <%= link_to "#", class: "d-inline-block bg-warning rounded p-2 text-uppercase mr-1 text-white", data: { toggle: "modal", target: "#kitchen_delayModal" } do %>
          <i class="fa fas fa-stopwatch pr-2 text-white"></i> <span id="kitchen-delay" class="d-none d-sm-inline"><%= @restaurant.opening_time_kitchen_delay_minutes == 0 ? "Kitchen Delay" : "#{@restaurant.opening_time_kitchen_delay_minutes} min. Delay" %></span>
        <% end %>
        <%= link_to "#", class: "d-inline-block bg-secondary rounded p-2 text-uppercase text-white", data: { toggle: "modal", target: "#settingsModal" } do %>
          <i class="fa fa-1x fa-cog pr-2"></i><span class="d-none d-sm-inline"> Settings</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: "manager/live/modal_container", locals: { title: "Settings", type: "settings" } %>
<%= render partial: "manager/live/modal_container", locals: { title: "Kitchen Delay", type: "kitchen_delay" } %>