
<div class="modal fade" id="<%=type%>Modal" tabindex="-1" role="dialog" aria-labelledby="singleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered rounded" role="document">
    <div class="modal-content overflow-hidden" style="border-radius: 15px!important;">
      <div class="modal-header text-center bg-dark text-white">
        <h5 class="modal-title" id="singleModalLabel"><%= title %></h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <% case type %>
        <% when "settings" %>
          <% Stripe.api_key = @restaurant.stripe_sk_api_key %>
          <% available = Stripe::Balance.retrieve(stripe_account: @restaurant.stripe_connected_account_id)["available"].first %>
          <%= render partial: "manager/restaurants/settings" %>
          <div class="row mb-0">
            <div class="col-8 offset-2 text-left pt-3 pb-3">
              <p class="m-0">Your restaurant's available balance: <%= number_to_currency(available["amount"] / 100.0, unit: @restaurant.currency_symbol) %></p>
              <p>Top up your balance in stripe account setup by your EMenu service representative</p>
            </div>
          </div>
        <% when "kitchen_delay" %>
          <%
            redirect_path = params[:action]
          %>
          <h5>When the kitchen is behind schedule, update this setting to notify customers of the potential wait time</h5>
          <div id="current-delay" class='text-center pb-3'>
            Current Delay: <%= @restaurant.opening_time_kitchen_delay_minutes %> minutes 
          </div>
          <%= link_to 'Set 0 mins delay', manager_restaurant_set_delay_path(@restaurant, value: 0, redirect_path: redirect_path), method: :post, remote: true, class: 'btn btn-success btn-sm delay-button', id: 'delay-0-button', data: { dismiss: "modal" }%>
          <br />
          <br />
          <%= link_to 'Set 15 mins delay', manager_restaurant_set_delay_path(@restaurant, value: 15, redirect_path: redirect_path), method: :post, remote: true, class: 'btn btn-warning btn-sm delay-button', id: 'delay-15-button', data: { dismiss: "modal" }%>
          <br />
          <br />
          <%= link_to 'Set 30 mins delay', manager_restaurant_set_delay_path(@restaurant, value: 30, redirect_path: redirect_path), method: :post, remote: true, class: 'btn btn-warning btn-sm delay-button', id: 'delay-30-button', data: { dismiss: "modal" }%>
          <br />
          <br />
          <%= link_to 'Set 45 mins delay', manager_restaurant_set_delay_path(@restaurant, value: 45, redirect_path: redirect_path), method: :post, remote: true, class: 'btn btn-warning btn-sm delay-button', id: 'delay-45-button', data: { dismiss: "modal" }%>
          <br />
          <br />
          <%= link_to 'Set 60 mins delay', manager_restaurant_set_delay_path(@restaurant, value: 60, redirect_path: redirect_path), method: :post, remote: true, class: 'btn btn-warning btn-sm delay-button', id: 'delay-60-button', data: { dismiss: "modal" }%>
        <% when "orders" %>
          <%= render partial: "manager/live/order_modals" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>