<% content_for :js do %>
  <script>
  </script>
<% end %> 

<%
  restaurant_id ||= nil
%>

<% @restaurant = Restaurant.where(id: restaurant_id || restaurant.id).first if @restaurant.blank? %>
<div class="row text-left text-white">
  <div id="refreshed-time" class='col-12'>
    Page last refreshed on: <%= Time.new.in_time_zone(@restaurant.time_zone).strftime("%d %b %Y - %H:%M:%S") %><%#= Time.new %>
  </div>
</div>
<%
=begin%>
 <div class="row text-right">
  <div id="refreshed-time" class='col'>
    refreshed at: <%= Time.new.in_time_zone(@restaurant.time_zone).strftime("%d %b %Y - %H:%M:%S") %><%#= Time.new %>
  </div>
</div> 
<%
=end%>

<div id="receipt-group" class="bg-dark pb-3 row">
  <div class="col-12">
    <div class="row my-1 d-none d-md-block">
      <%
=begin%>
 <div class="d-inline-block" style="width: 4%;">
        <h5 style="font-size:0.8em;" class="bg-secondary text-white text-center rounded m-0"><%= check_box_tag "Check" %></h5>
      </div> 
<%
=end%>
      <div class="d-inline-block col-md-12" style="">
        <div class="row m-0">
          <div class="col-1 px-0">
            <h5 style="font-size:0.8em;" class="bg-secondary text-white text-center rounded m-0">ORDER</h5>
          </div>
          <div class="col-2 px-1">
            <h5 style="font-size:0.8em;" class="bg-secondary text-white text-center rounded m-0">NAME</h5>
          </div>
          <div class="col-1 px-1">
            <h5 style="font-size:0.8em;" class="bg-secondary text-white text-center rounded m-0">ITEMS</h5>
          </div>
          <div class="col-1 px-1">
            <h5 style="font-size:0.8em;" class="bg-secondary text-white text-center rounded m-0">PLACED</h5>
          </div>
          <div class="col-1 px-1">
            <h5 style="font-size:0.8em;" class="bg-secondary text-white text-center rounded m-0">DUE</h5>
          </div>
          <div class="col-3 px-1">
            <h5 style="font-size:0.8em;" class="bg-secondary text-white text-center rounded m-0">SERVICE</h5>
          </div>
          <div class="col-1 px-1">
            <h5 style="font-size:0.8em;" class="bg-secondary text-white text-center rounded m-0">PAYMENT</h5>
          </div>
          <div class="col-1 px-1">
            <h5 style="font-size:0.8em;" class="bg-secondary text-white text-center rounded m-0">TOTAL</h5>
          </div>
          <div class="col-1 px-1">
            <h5 style="font-size:0.8em;" class="bg-secondary text-white text-center rounded m-0">STATUS</h5>
          </div>
          <%
=begin%>
 <div class="col-1 px-0">
            <h5 style="font-size:0.8em;" class="bg-secondary text-white text-center rounded m-0">QUICK ACTION</h5>
          </div> 
<%
=end%>
        </div>
      </div>
    </div>
    <%# .each do |receipts| %>
      <% @data = Receipt.group_by_time(@restaurant.receipts.includes(order: :refunds).order(id: :DESC).limit(70)).reverse %>
      <% @data.each do |t, receipts| %>
        <% receipt = receipts.first %>
        <%= render partial: "manager/live/receipts_container", locals: { receipts: receipts, printers: printers } %>
        <div class="row m-0 my-1">
          <%
=begin%>
 <div class="" style="width: 4%;">
            <h5 style="font-size:0.8em;" class="text-center m-0 pt-2 d-none d-md-block"><%= check_box_tag "Check", class: "bg-secondary" %></h5>
          </div> 
<%
=end%>
          <%= link_to "#", class: "col-md-12 bg-light rounded py-2 text-dark", data: { toggle: "modal", target: "#modal#{receipt.order_id}" } do %>
            <div class="">
              <div class="row">
                <div class="col-md-1 px-1 text-center">
                  <% new_order = !receipt.is_ready %>
                  <h5 style="font-size:0.8em;" class="m-0 text-decoration-none badge badge-pill <%= new_order ? 'badge-danger' : 'badge-light' %>">#<%=receipt.order_id%></h5>
                </div>
                <div class="col-md-2 px-1 text-center">
                  <h5 style="font-size:0.8em;" class="d-inline m-0"><%=receipt.name.presence || "Table: #{receipt.table_number}" %> <%=receipt.telephone%> <%=receipt.group_order ? "(Group: table #{receipt.table_number})" : ""%></h5>
                </div>
                <div class="col-md-1 px-1 text-center">
                  <h5 style="font-size:0.8em;" class="d-inline m-0"><%= pluralize(receipts.sum{|x|x.items['items'].size || 0}, 'item') %></h5>
                </div>
                <div class="col-md-1 px-1 text-center">
                  <h5 style="font-size:0.8em;" class="d-inline m-0"><%= time_ago_in_words(receipt.created_at, include_seconds: true) %> ago</h5>
                </div>
                <div class="col-md-1 px-1 text-center">
                  <h5 style="font-size:0.8em;" class="d-inline m-0"><%=receipt.collection_time.presence || "ASAP" %></h5>
                </div>
                <div class="col-md-3 px-1 text-center">
                  <h5 style="font-size:0.8em;" class="d-inline m-0"><%=receipt.collection_time.present? ? "#{receipt.delivery_or_collection&.titleize} #{receipt.collection_time}" : ""%> <%=receipt.table_number.present? ? "Table: #{receipt.table_number}" : ""%> <%= receipt.delivery_or_collection == "delivery" && receipt.address.present? ? "Deliver to: #{receipt.address}" : ""%></h5>
                </div>
                <div class="col-md-1 px-1 text-center">
                  <% paid_status = receipt&.order&.stripe_data.try(:[], "payment_status") %>
                  <h5 style="font-size:0.8em;" class="d-inline m-0 text-decoration-none <%= paid_status == 'paid' ? 'badge badge-pill badge-success' : '' %>"><%= paid_status&.titleize %></h5>
                </div>
                <div class="col-md-1 px-1 text-center">
                  <h5 style="font-size:0.8em;" class="d-inline m-0"><%= number_to_currency((receipts.sum{|x|x&.order&.stripe_data.try(:[], "amount_total") || 0}) / 100.0, unit: @restaurant.currency_symbol) %></h5>
                </div>
                <div class="col-md-1 px-1 text-center">
                  <h5 style="font-size:0.8em;" class="d-inline m-0"><%= receipt.processing_status %></h5>
                </div>
                <%
=begin%>
 <div class="col-md-1 px-1">
                </div> 
<%
=end%>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <%# end %>
  </div>
</div>
