<% receipt = receipts.first %>

<% new_order = receipt.processing_status == "new" %>
<% queued = receipt.processing_status == "queued" %>
<% accepted = receipt.processing_status == "accepted" %>
<% preparing = receipt.processing_status == "preparing" %>
<% ready = receipt.processing_status == "ready" %>
<% complete = receipt.processing_status == "complete" %>

<% status_pill = 'badge-secondary' %>
<% status_pill = 'badge-danger' if new_order %>
<% status_pill = 'badge-info' if preparing %>
<% status_pill = 'badge-dark' if queued %>
<% status_pill = 'badge-warning' if ready %>
<% status_pill = 'badge-success' if complete %>

<% order_pill = 'badge-light' %>
<% order_pill = 'badge-danger' if new_order or queued or accepted %>
<% order_pill = 'badge-warning' if preparing %>

<% header_color = '#B6F2B6' if receipt.table_number.present? %>
<% header_color = '#F2F2B6' if receipt.delivery_or_collection == 'collection' %>
<% header_color = '#F2DEB6' if receipt.delivery_or_collection == 'delivery' %>

<% time_placed = receipt.created_at.in_time_zone(@restaurant.time_zone) %>
<% dd = receipt.due_date.in_time_zone(@restaurant.time_zone) %>

<div class="modal fade" id="modal<%= receipt.order_id %>" tabindex="-1" role="dialog" aria-labelledby="<%= receipt.order_id %>" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered rounded" role="document">
    <div class="modal-content overflow-hidden" style="border-radius: 10px!important;">
      <div class="modal-header text-center p-0" style="background-color: <%= header_color %>;">
        <div class="row m-0 px-0 py-2 w-100">
          <div class="col-3 my-auto px-2 text-left">
            <div style="font-size: 100%;" class="text-left m-0 badge badge-pill <%= order_pill %>">#<%=receipt.order_id%></div>
          </div>
          <div class="col-6 mt-auto px-0 text-center">
            <h5 class="d-inline m-0"><%=receipt.group_order ? "Group Order" : receipt.name.present? ? receipt.name.titleize : receipt.table_number.present? ? "Table #{receipt.table_number}" : "" %></h4>
          </div>
          <div class="col-3 mt-auto px-2 text-right">
            <h6 class="text-right m-0"><%=receipt.table_number.present? ? "Table #{receipt.table_number}" : receipt.delivery_or_collection.titleize %> <%#= receipt.delivery_or_collection == "delivery" && receipt.address.present? ? "Delivery" : ""%></h5>
          </div>
        </div>
      </div>
      <div class="modal-body text-center p-0">
        <div class="col">
          <div class="row px-0 py-2 border-bottom">
            <div class="col-6 mt-auto px-2 text-left">
              <% printers.each do |printer|%>
                <%= link_to print_receipt_url(receipt.id, printer.id, only_path: true), remote: true, class: 'btn btn-info p-0 px-2', data: { confirm: "Order ##{receipt.order_id} - send order to #{printer.name} printer?" } do %>
                  <i class="fas fa-print"></i> <%= printer.name %>
                <% end %>
              <% end %>
            </div>
            <div class="col-6 px-2 mt-auto text-right">
              <div class="text-center align-bottom m-0 d-inline-block"><%= due_date_format(receipt.due_date, @restaurant.time_zone) %> &bull; <%= due_time_format(receipt.due_date, receipt.collection_time.presence, @restaurant.time_zone) %></div>
            </div>
          </div>
          <div class="row px-0 py-2 border-bottom">
            <div class="col-md-6 px-2 my-auto text-left">
              <div style="font-size:100%;" class="text-left m-0 badge badge-pill badge-light"><%= pluralize(receipts.sum{|x|x.items['items'].size}, 'item') %></div>
              <div id="statuspill<%receipt.order_id%>" class="d-inline m-0 badge badge-pill <%= status_pill %>"><%= receipt.processing_status&.titleize %></div>
            </div>
            <div class="col-md-6 px-2 my-auto text-right">
              <%= link_to "To Kitchen", receipt_send_to_kitchen_path(receipt.id, only_path: true), method: :post, remote: true, class: 'btn btn-success text-uppercase p-0 px-2 send-to-kitchen', data: { confirm: "Order ##{receipt.order_id} - Send to kitchen?" }, :id => "acceptorder#{receipt.order_id}" unless accepted %>
              <%= link_to "Preparing",receipt_preparing_path(receipt_id: receipt.order_id), method: :post, remote: true, class: 'btn btn-danger text-uppercase p-0 px-2', data: { confirm: "Order ##{receipt.order_id} - Preparing?" } unless preparing %>
              <script type="text/javascript">
                $('#<%="acceptorder#{receipt.order_id}"%>').on('ajax:success', function(ev) {
                  $('#<%="statuspill#{receipt.order_id}"%>').text("Accepted").addClass("badge-info")
                })
              </script>
            </div>
          </div>
          <div class="row pt-2">
            <ul class="col nav nav-tabs p-0" role="tablist">
              <li class="nav-item w-50">
                <a class="nav-link active" id="order-tab" data-toggle="tab" href="#ordertab<%= receipt.order_id %>" role="tab" aria-controls="order" aria-selected="true">Order</a>
              </li>
              <li class="nav-item w-50">
                <a class="nav-link" id="detail-tab" data-toggle="tab" href="#detailtab<%= receipt.order_id %>" role="tab" aria-controls="detail" aria-selected="false">Details</a>
              </li>
            </ul>
          </div>
          <div class="row pl-2" style="height: 35vh; max-height: 600px; overflow-y: auto;">
            <div class="col tab-content">
              <div class="tab-pane fade show active" id="ordertab<%= receipt.order_id %>" role="tabpanel" aria-labelledby="order-tab">
                <% receipts.each do |receipt| %>
                <% sis = receipt.screen_items %>
                  <% receipt.items['items'].each do |item| %>
                    <% screen_item = sis.select{|x|x.uuid == item['uuid']}.first %>

                    <% si_accepted = screen_item&.processing_status == "accepted" %>
                    <% si_preparing = screen_item&.processing_status == "preparing" %>
                    <% si_ready = screen_item&.processing_status == "ready" %>
                    <% si_complete = screen_item&.processing_status == "complete" %>

                    <% si_status_pill = 'badge-secondary' %>
                    <% si_status_pill = 'badge-info' if si_preparing %>
                    <% si_status_pill = 'badge-warning' if si_ready %>
                    <% si_status_pill = 'badge-success' if si_complete %>

                    <% menu_id = item['menu_id'] %>

                    <div class="row border-bottom">
                        <div class="col">
                          <div class="row py-1">
                            <div class="col-4 px-2 text-left">
                              <small class="d-inline-block text-truncate text-muted" style="max-width: 300px;"><%= Menu.find_by(id: menu_id)&.ancestry&.split('/')&.map{|a| Menu.find_by(id: a)&.name&.titleize}&.join(' • ') %></small>
                            </div>
                            <div class="col-8 px-2 text-right">
                              <% if screen_item.present? %>
                                  <div class="d-inline m-0 text-decoration-none badge badge-pill <%= si_status_pill %>"><%= screen_item&.processing_status&.titleize %></div>
                              <% end %>
                              <% if receipt.name.present? %>
                                <div class="d-inline m-0 badge badge-user"><%= receipt.name.split.first.titleize %> <i class="fas fa-user"></i></div>
                              <% end %>
                              <small class="d-inline text-muted"><%= item['item_screen_type_key'].presence&.titleize %></small>
                            </div>
                          </div>
                          <div class="row pb-2">
                            <% if screen_item.present? %>
                              <div class="col-8 px-2 text-left">
                                <%= link_to receipt_screen_item_process_path(receipt.id, screen_item.id, only_path: true), method: :post, remote: true, data: { confirm: "Order ##{receipt.order_id} - #{screen_item.processing_status == 'accepted' ? 'Preparing item?' : screen_item.processing_status == 'preparing' ? 'Mark item ready?' : 'Reset item status' }" } do %>
                                  <%= item['item'].html_safe %>
                                <% end %>
                              </div>
                            <% else %>
                              <div class="col-8 px-2 text-left">
                                <%= item['item'].html_safe %>
                              </div>
                            <% end %>
                            <div class="col-4 px-2 text-left">
                              <small>
                                <%= item['optionals'].join('<br> ').html_safe %>
                              </small>
                            </div>
                          </div>
                          <% if item['note'].present? %>
                            <div class="row pb-2">
                              <div class="col text-left">
                                <small><i>Note: </i> <%=item['note']%></small>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>

                  <% end %>
                <% end %>
              </div>
              <div class="tab-pane fade py-3" id="detailtab<%= receipt.order_id %>" role="tabpanel" aria-labelledby="detail-tab">
                <div class="row">
                  <div class="col-4 text-right">
                    <h5><b>Placed</b></p>
                  </div>
                  <div class="col-8 text-muted">
                    <p><i class="far fa-clock"></i> <%= time_placed.strftime("%H:%M") %> &nbsp; <i class="far fa-calendar-alt"></i> <%= time_placed.strftime("%A, #{time_placed.day.ordinalize} %B") %> </p>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-4 text-right">
                    <h5><b>Due</b></p>
                  </div>
                  <div class="col-8">
                    <p><i class="far fa-clock"></i> <%= due_time_format(receipt.due_date, receipt.collection_time.presence, @restaurant.time_zone) %> &nbsp; <i class="far fa-calendar-alt"></i> <%= dd.strftime("%A, #{dd.day.ordinalize} %B") %></p>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-4 text-right">
                    <h5><b>Service</b></p>
                  </div>
                  <div class="col-8">
                    <p class="text-center m-0"><%=receipt.table_number.present? ? "Table #{receipt.table_number}" : receipt.delivery_or_collection.titleize %></p>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-4 text-right">
                    <h5><b>Payment</b></p>
                  </div>
                  <div class="col-8">
                    <% paid_status = receipt.order&.stripe_data.try(:[], "payment_status") %>
                    <p class="text-center m-0 badge badge-pill <%= paid_status == 'paid' ? 'badge-success' : 'badge-warning' %>"><%= paid_status&.titleize %></p>
                  </div>
                </div>
                <% unless receipt.name.blank? or receipts.map{|x|x&.name}.all?(&:blank?) %>
                  <div class="row pt-3">
                    <div class="col-4 text-right">
                      <h5><b>Name</b></p>
                    </div>
                    <div class="col-8">
                      <p class="text-center m-0"><%=receipts.map{|x|x&.name.titleize}.compact.join(",").gsub(",",", ")%></p>
                    </div>
                  </div>
                <% end %>
                <div class="row pt-3">
                  <div class="col-4 text-right">
                    <h5><b>Email</b></p>
                  </div>
                  <div class="col-8">
                    <p class="text-center m-0"><%=receipts.map{|x|x&.order&.email}.compact.join(",").gsub(",",", ")%></p>
                  </div>
                </div>
                <% unless receipts.map{|x|x&.telephone}.any? %>
                  <div class="row pt-3">
                    <div class="col-4 text-right">
                      <h5><b>Phone</b></p>
                    </div>
                    <div class="col-8">
                      <p class="text-center m-0"><%=receipts.map{|x|x&.telephone}.compact.join(",").gsub(",",", ")%></p>
                    </div>
                  </div>
                <% end %>
                <% if receipt.delivery_or_collection == "delivery" %>
                  <div class="row pt-3">
                    <div class="col-4 text-right">
                      <h5><b>Address</b></p>
                    </div>
                    <div class="col-8">
                      <p class="text-center m-0"><%= receipt.address %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-0 px-0 py-2 w-100 border-top">
          <div class="col px-2 text-left">
            <% if receipt&.order&.refunds.present? %>
              <div class="btn btn-warning p-0 px-1">Order has been refunded</div>
            <% else %>
              <% refund_amount = number_to_currency((receipts.sum{|x|x&.order&.stripe_data.try(:[], "amount_total") || 0}) / 100.0, unit: @restaurant.currency_symbol) %>
              <%= link_to "Refund",manager_refunds_path(restaurant_id: receipt.order.restaurant, id: receipt.order), method: :post, class: 'btn btn-danger text-uppercase p-0 px-2', data: { confirm: "Order ##{receipt.order_id} - Full refund? (#{refund_amount})" } if receipt&.order&.stripe_data.present? %>
            <% end %>
            <% if receipt&.email.present? %><%= link_to 'Send Receipt', manager_send_receipts_path(receipt.id), remote: true, class: "btn btn-warning text-uppercase p-0 px-2", data: { confirm: "Order ##{receipt.order_id} - Re-send email receipt to #{receipt.group_order? ? "all in group" : receipt.email}?" } %><% end %>
          </div>
        </div>
        <div class="row m-0 px-0 py-2 w-100 border-top">
          <div class="col-6 my-auto px-2 text-muted text-left">
            <small><i class="far fa-clock"></i> <%= time_placed.strftime("%H:%M") %> &nbsp; <i class="far fa-calendar-alt"></i> <%= time_placed.strftime("%A, #{time_placed.day.ordinalize} %B") %> </small>
          </div>
          <div class="col-6 mt-auto px-2 text-right">
            <%= link_to "Complete",receipt_complete_path(receipt.id, only_path: true), method: :post, remote: true, class: 'btn btn-success text-uppercase p-0 px-2', id: "receipt-#{receipt.id}-complete", data: { confirm: "Order ##{receipt.order_id} - Mark order as complete?" } unless complete %>
            <%= link_to "Ready",receipt_is_ready_path(receipt.id, only_path: true), method: :post, remote: true, class: 'btn btn-warning text-uppercase p-0 px-2', id: "receipt-#{receipt.id}-ready", data: { confirm: "Order ##{receipt.order_id} - Mark order as ready?" } unless ready or complete %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>