<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no" />

    <title>
      <%= content_for?(:title) ? yield(:title) : "EMenu Live Orders - #{@restaurant&.name ? @restaurant.name : "Welcome"}" %>
    </title>

    <%= stylesheet_link_tag    "application" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= javascript_include_tag "application"%>

    <style>
      <%= render 'components/global/manager_style' %>
    </style>

    <%= stylesheet_link_tag "emenu_overwrite" if !@restaurant&.theme&.colors_set? %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'manager/components/global/sidebar' %>
    <%#= render 'manager/components/global/order-loader' %>
    <%= render 'manager/components/global/topbar' %>
    <%= render 'components/global/messages' %>
    <%= render 'components/global/environment' %>
    <%#= render 'manager/components/restaurant/navigation' if current_manager_restaurant_user %>

    <div id="live-order" class="container-fluid">
      <%= yield %>

    </div>
    <div class="overlay"></div>
    <%= yield :js %>
    <%= yield :channels %>
  </body>
</html>
